@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 36 33% 97%;
    --foreground: 222 47% 11%;
    --primary: 22 95% 53%;
    --primary-foreground: 0 0% 100%;
    --muted: 35 20% 93%;
    --muted-foreground: 215 14% 46%;
    --border: 35 14% 87%;
    --input: 35 14% 87%;
    --ring: 22 95% 53%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
